body{
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
     background: rgb(2,0,36);
background: linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.header>img{
    max-height: 100px;
}
.header>button{
    height: 35px;
    width: 100px;
    border-radius: 50px;
    
    background-color:#045fc2 ;
    cursor: pointer;
    border: 2px white solid;
    font-weight: bold;
    color: whitesmoke;
    outline: transparent;
}
.header>button>a{
    text-decoration: none;
    color: whitesmoke;
}

.outerbox{
display: inline;
width: 170vh;
position: absolute;
left: 10%;
top: 19%;

}

.outerbox__left{
    align-self: center;
    margin-right: 50px;   
}

form{
    margin: 50px;
    width: 50%;
    align-self: center;
    margin-left: 70px;
    
}

form input[type="text"], input[type="password"] , input[type="email"]
{
    border: none;
    background-color: transparent;
    border-bottom-color:#045fc2;
    border-bottom-style:solid;
    outline: transparent;
    width: 80%;
    color:#045fc2 ;
    width: 60%;
    

}
form input[type="submit"]
{
    border-radius: 50px;
    margin-left: 50px;
    background-color:#045fc2 ;
    cursor: pointer;
    width: 50%;
    height: 4vh;
    margin-top: 10%;
    border: 2px white solid;
    font-weight: bold;
    color: whitesmoke;
    outline: transparent;
}

.btnArea{
    margin-top: -35%;
    margin-left: -65%;
}

.btn{
    display: inline-block;
 
}
#apprvBTN{
    background: green;
}

#docBTN{
    background: red;
}

#docList{
    display: none;
}