body{
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
     background: rgb(2,0,36);
background: linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
    
    background-repeat: no-repeat;
    background-size: cover;
}

.outerbox{
    position: fixed;
    right: 50px;
    height: 78vh;
    width: 133vh;
    border-radius: 50px;
background: whitesmoke ;
box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
}


.get__startedContent img{
    width: 300px;
    margin-top: 35px;
}



.get__started{
    background-color: white;
    text-align: center;
    height: 80.5vh;
    color:#045fc2;
    display: flex;
    justify-content: center;
    width: 50vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-items: center;
}


.topbar{
   position: fixed;
    top:10;
    height: 5.5vh;
    width: 190vh;
    border-radius: 50px;
    background: white; /*linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%)*/;
    box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
}

.name{
    
}

.name h2{
    text-align: left;
    margin-left: 2vw;
    margin-top: 3px;

}

.logoutBTN{
    text-align: right;
    margin-top: -5.5vh;
    margin-right: 20px;
}
.logoutBTN button{
    transition: 0.5s;
    height: 4.5vh;
    width: 7vw;
    border-radius: 50px;
    background: linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 15px;
}

.logoutBTN button:hover{
    height: 4.5vh;
    width: 7vw;
    border-radius: 50px;
    background: white;
    color:  rgba(9,9,121,1);
    font-size: 15px;
    transition: 0.5s;
}

.status{
    position: fixed;
    top:80;
    left: 35;
    height: 5.5vh;
    width: 50vh;
    border-radius: 50px;
    background: white; /*linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%)*/;
    box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
}


.status h2{
    text-align: left;
    margin-left: 2vw;
    margin-top: 3px;
}

.approval{
    position: fixed;
    top:150;
    left: 35;
    height: 70vh;
    width: 50vh;
    border-radius: 50px;

    background: white; /*linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%)*/;
    background-image: linear-gradient(#0356CD, #0088F7);
    box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
}
.approval h1{
    color: whitesmoke;
    text-align: left;
    margin-left: 1.5vw;
    margin-top: 20px;
}

.approval p {
    color: whitesmoke;
    text-align: left;
    margin-left: 1.5vw;
    margin-top: 10px;
    font-style: bold;
}

.approval input[type="text"], input[type="password"] , input[type="email"]
{
    margin-left: 1.5vw;
    border: none;
    background-color: transparent;
    border-bottom-color:white;
    border-bottom-style:solid;
    outline: transparent;
    width: 80%;
    color: whitesmoke;
    

}

.approval input[type=time] {
     margin-left: 1.5vw;
    border: none;
    background-color: transparent;
    border-bottom-color:white;
    border-bottom-style:solid;
    outline: transparent;
    width: 80%;
    color: whitesmoke;
}



.approval input[type="submit"]
{
    
    border-radius: 50px;
    margin-left: 50px;
    background-color: white;
    cursor: pointer;
    width: 50%;
    height: 4vh;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    border: 2px white solid;
    font-weight: bold;
    color: #045fc2;
    outline: transparent;
}
.approval input[type="submit"]:hover
{

    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    width: 50%;
    height: 4vh;
    margin-left:0px;
    margin-top: 10%;
    margin-left: 25%;
    border: 2px white solid;
    font-weight: bold;
    color: #045fc2;
     box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
    
}

.approval textarea{
    margin-left: 1.5vw;
    border: none;
    background-color: transparent;
    border-bottom-color:white;
    border-bottom-style:solid;
    outline: transparent;
    width: 80%;
    color: whitesmoke;

}

.approval textarea::placeholder{

    color: white;

}

.footerLogo{
    position: fixed;
    bottom: 10;
    width: 150px;
    height: 7.5vh;
    width: 190vh;
    border-radius: 50px;
    background: white; /*linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%)*/;
    box-shadow:  5px -5px 10px rgba(2,0,36,1), 
             -5px 5px 10px rgba(0,212,255,1);
}

.footerLogo img{
    margin-top: 2px;
    text-align: center;
    margin-left: calc(50% - 75px);
    width: 145px;
}